

body{
  background-color: #040729;
}

.missing_Page_Icon {
  background-image: url("pictures/Missing Page-Error Page Animated Icon.gif");
  background-size: contain;
  height: 100%;
  width: 100%;
}

.page-Text{
  position: relative;
  top: 40px;
  left: 50px;
  margin-top: -50px;
  margin-left: -50px;
}

.page-Text p{
  font-size: 50px;
  color: white;
  filter: drop-shadow(black 1rem 1rem 5px);
}


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-image: url("pictures/Night time snowfall cropped.png");
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  background-color: #6ff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #0080ff;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  color: black;
  background: linear-gradient(326deg, #0093c1, #00f0ff, #0082ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

@-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }

  .missing_Page_Icon {
    height: 400px;
    width: 400px;
  }

  .page-Text p {
    font-size: 15px;
  }
}
