

body{
  background-color: black;
}

.false_reality{
  position: relative;
  top: 30px;
  left: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.false_reality img{
  object-fit: cover;
}

.page-Text{
  position: relative;
  top: 40px;
  left: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.page-Text p{
  font-size: 25px;
  color: white;
}

 
